body {
    font-family: Arial, Verdana, sans-serif; /* Семейство шрифтов */
    font-size: 13pt; /* Размер основного шрифта в пунктах  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #333; /* Цвет основного текста */
    margin-left: 15px; /* Отступ слева в пикселах */
}

ol {
    list-style-type: lower-alpha
}

ul {
    list-style-image: url(image/sun.jpg);
}

h1 {
    color: black; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}

p {
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 30px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    border-left: 1px solid #999; /* Параметры линии слева */
    border-bottom: 1px solid #999; /* Параметры линии снизу */
    padding-left: 10px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
}

table {
    width: 40%; /* Ширина таблицы */
    height: 25%; /* Высота таблицы */
    background: darkgrey;
}

#square1 {
    width: 100px;
    height: 100px;
    border: 4px double black; /* Параметры границы */
    background: coral; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 20px;
    opacity: 0.5; /* Значение прозрачности */
}

#square2 { /* Этот слой накладывается поверх */
    position: relative; /* Относительное позиционирование */
    left: 50px; /* Положение от левого края */
    top: -70px; /* Положение от верхнего края */
    width: 100px;
    height: 100px;
    border: 4px double black; /* Параметры границы */
    background: orchid; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 20px;
    opacity: 0.5; /* Значение прозрачности */
}
